{% set location_file = location_file|d("location.j2") %}
{% set listen_params_v %}{% block listen_params %}{% endblock %}{% endset %}
server {
    listen {{ port }} {{ listen_params_v }};
    listen [::]:{{ port }} {{ listen_params_v }};
    server_name {{ domainConfig.domain }};

{% block options %}{% endblock %}

# SSL certificates
{% block sslcertificates %}{% endblock %}

# Locations
{% block location %}{% endblock %}
{%- include location_file with context %}
}
