{% set port = port|default(80) %}
{% set location_file = location_file|d("location-https-redirect.j2") %}
{% extends "serverblock.j2" %}

{% block location %}
    location /.well-known/acme-challenge {
        alias {{ stackhead__acme_folder }}/{{ nginx_servername }};

        location ~ /.well-known/acme-challenge/(.*) {
            default_type text/plain;
        }
    }
{% endblock %}
